body {
    background-color:black;
}
.post{
    height: 550px;
    width: 300px;
    background-color: white;
    margin: auto;
}
.box {
    border-radius: 8px;
    margin: 20px;
    display: inline-block;
}
.image-container {
    float: right;
}
i{
    color: black;
}