.top {
    display: flex;
   align-items: center;
    margin-top: 19px;

}
.body {
    background-color:black;
    width: max-content;
   
}
img {
    padding: 0 50px 0 50px;
}
.post{
    height: 650px;
    width: 400px;
    background-color: white;
    margin: auto;
    padding: 5px 30px 5px 30px;
}
.post-container {
 
    background-color: black;
 

}

.post-heading{
    display: flex;
    height: 50px;
    align-items: center;
}
.heading1{
margin: 3%;
font-size: 2rem;
}
.heading2{
    width: 93%;
    line-height: 5px;
}
.heading3{
    width: 2%;
    font-size: 2rem;
}

.icon-container {
    padding: 10px 5px 10px 0px;
   
    display: flex;
   justify-content: space-between;
   width: 100%;

}




